<div class="container container-margin-top">
  <div class="row">
    <div class="col-3">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action text-center font-weight-bold disabled" id="list-home-list" data-toggle="list"
          role="tab" aria-controls="home">Panel Użytkownika</a>
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab"
          aria-controls="home">Mój profil</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab"
          aria-controls="current-orders">Obecne zlecenia</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab"
          aria-controls="orders-history">Historia zleceń</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab"
          aria-controls="profile">Dane do wysyłki</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab"
          aria-controls="messages">Dane do faktury</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab"
          aria-controls="settings">Zmiana hasła</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" (click)="logout()" role="tab"
          aria-controls="orders-history">Wyloguj</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">



          <h3>Mój profil</h3>
          <hr/>
          <form class="form-horizontal" role="form" *ngIf="client">
            <div class="form-group">
              <label class="col-sm-2 control-label font-weight-bold" for="clientFirstName">Imię:</label>
              <div class="col-sm-8">
                <input type="text" name="clientFirstName" placeholder="Wpisz swoje imię" [(ngModel)]="client.firstName" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label font-weight-bold" for="clientLastName">Nazwisko:</label>
              <div class="col-sm-8">
                <input type="text" name="clientLastName" placeholder="Wpisz swoje nazwisko" [(ngModel)]="client.lastName" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label font-weight-bold" for="clientEmail">Adres e-mail:</label>
              <div class="col-sm-8">
                <input type="email" name="clientEmail" placeholder="Podaj swój adres e-mail" [(ngModel)]="client.email" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label font-weight-bold" for="clientPhone">Numer telefonu:</label>
              <div class="col-sm-8">
                <input type="tel" name="clientPhone" placeholder="Podaj swój numer telefonu" [(ngModel)]="client.phoneNumber" class="form-control">
              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <div class="pull-right">
                  <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                </div>
              </div>
            </div>

          </form>


        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">


          <h3>Dane do wysyłki</h3>
          <hr/>
          <form class="form-horizontal" role="form" *ngIf="client">
            <div class="form-group">
              <label class="col-sm-2 control-label font-weight-bold" for="clientDeliveryFirstName">Imię:</label>
              <div class="col-sm-8">
                <input type="text" name="clientDeliveryFirstName" placeholder="Wpisz swoje imię" [(ngModel)]="client.deliveryFirstName" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label font-weight-bold" for="clientDeliveryLastName">Nazwisko:</label>
              <div class="col-sm-8">
                <input type="text" name="clientDeliveryLastName" placeholder="Wpisz swoje nazwisko" [(ngModel)]="client.deliveryLastName"
                  class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label font-weight-bold" for="clientDeliveryAddress">Adres:</label>
              <div class="col-sm-8">
                <input type="email" name="clientDeliveryAddress" [(ngModel)]="client.deliveryAddress" placeholder="Ulica, numer domu / mieszkania"
                  class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label font-weight-bold" for="clientDeliveryPostCodeAndCity">Kod pocztowy i miejscowość:</label>
              <div class="row col-12">
                <div class="col-sm-3">
                  <input type="tel" name="clientDeliveryPostCode" [(ngModel)]="client.deliveryPostCode" placeholder="Kod pocztowy" class="form-control">
                </div>
                <div class="col-sm-5" style="padding-right: 0;">
                  <input type="tel" name="clientDeliveryCity" [(ngModel)]="client.deliveryCity" placeholder="Miejscowość" class="form-control">
                </div>

              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <div class="pull-right">
                  <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                </div>
              </div>
            </div>

          </form>


        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">


          <h3>Dane do faktury</h3>
          <hr/>
          <form class="form-horizontal" role="form" *ngIf="client">
            <div class="form-group">
              <label class="col-sm-2 control-label font-weight-bold" for="clientInvoiceFirstName">Imię:</label>
              <div class="col-sm-8">
                <input type="text" name="clientInvoiceFirstName" placeholder="Wpisz swoje imię" [(ngModel)]="client.invoiceFirstName" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label font-weight-bold" for="clientInvoiceLastName">Nazwisko:</label>
              <div class="col-sm-8">
                <input type="text" name="clientInvoiceLastName" placeholder="Wpisz swoje nazwisko" [(ngModel)]="client.invoiceLastName" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label font-weight-bold" for="clientInvoiceAddress">Adres:</label>
              <div class="col-sm-8">
                <input type="email" name="clientInvoiceAddress" [(ngModel)]="client.invoiceAddress" placeholder="Ulica, numer domu / mieszkania"
                  class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label font-weight-bold" for="clientInvoicePostCodeAndCity">Kod pocztowy i miejscowość:</label>
              <div class="row col-12">
                <div class="col-sm-3">
                  <input type="tel" name="clientInvoicePostCode" [(ngModel)]="client.invoicePostCode" placeholder="Kod pocztowy" class="form-control">
                </div>
                <div class="col-sm-5" style="padding-right: 0;">
                  <input type="tel" name="clientInvoiceCity" [(ngModel)]="client.invoiceCity" placeholder="Miejscowość" class="form-control">
                </div>

              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <div class="pull-right">
                  <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                </div>
              </div>
            </div>

          </form>




        </div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">




          <h3>Zmiana hasła</h3>
          <hr/>
          <form class="form-horizontal" role="form" *ngIf="client">
            <div class="form-group">
              <label class="col-sm-6 control-label font-weight-bold" for="clientPassword">Poprzednie hasło:</label>
              <div class="col-sm-8">
                <input type="password" name="clientPassword" [(ngModel)]="password" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label font-weight-bold" for="clientNewPassword">Nowe hasło:</label>
              <div class="col-sm-8">
                <input type="password" name="clientNewPassword" [(ngModel)]="newPassword" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-6 control-label font-weight-bold" for="clientRepeatedNewPassword">Potwierdź nowe hasło:</label>
              <div class="col-sm-8">
                <input type="password" name="clientRepeatedNewPassword" [(ngModel)]="repeatedNewPassword" class="form-control">
              </div>
            </div>




            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <div class="pull-right">
                  <button type="submit" class="btn btn-success">Zmień hasło</button>
                </div>
              </div>
            </div>

          </form>






        </div>
        <div class="tab-pane fade" id="list-current-orders" role="tabpanel" aria-labelledby="list-settings-list">Obecne</div>
        <div class="tab-pane fade" id="list-orders-history" role="tabpanel" aria-labelledby="list-settings-list">Historia</div>
      </div>
    </div>
  </div>
</div>