 form {
    justify-content: center;
    display: flex;
}
.padding-left-0 {
    padding-left: 0;
}
form select {
    width: 100%;
}
.input-group-addon {
    width: 40%;
    min-width: 65px;
    justify-content: center;
}