.card {
  margin-bottom: 30px;
}
.box-title {
  font-family: "Lato", Helvetica, sans-serif;
  padding: 25px 20px 20px 20px;
  margin-bottom: 5px;
  display: inline-block;
}
.box-title:after {
  content: "";
  background: black;
  width: 120%;

  height: 1px;
  margin-top: 7px;
  display: block;
}
.title-flex-container {
  display: flex;
  align-items: center;
  justify-content: left;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-button {
  margin-bottom: 3px;
}
.table-padding {
  padding-left: 8px;
  padding-right: 8px;
}
form.full-width select {
  width: 100%;
}
@media (max-width: 768px) {
  .box-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .box-title:after {
    width: 100%;
  }
  .title-flex-container {
    justify-content: center;
  }
  .new-button {
    margin-bottom: 23px;
  }
  .table-padding {
    padding: 0;
  }
}

.paragraph-padding {
  padding: 0 3rem 1rem 3rem;
}
.paragraph-key {
  margin-bottom: 0.7rem;
  font-weight: bold;
}
.paragraph-photo {
  font-weight: bold;
  margin: 1rem 0;
}
.paragraph-data {
  margin-bottom: 0.5rem;
}
.paragraph-value {
  padding: 0 0 0 0rem;

  font-weight: normal;
}
.paragraph-print {
  padding: 1rem 0 0 2rem;
  font-weight: normal;
}
.color-box {
  position: relative;
  padding: 3px 5px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-weight: bold;
}
.status {
  color: #fff;
  padding: 0.5rem 0.5rem 0.4rem 0.5rem;
  border-radius: 0.25rem;
}
.status-new {
  background-color: #28a745;
  margin-right: 5px;
}
.status-0 {
  background-color: #868e96;
}
.status-1 {
  background-color: #868e96;
}
.status-2 {
  background-color: #868e96;
}
.status-3 {
  background-color: #007bff;
}
.status-4 {
  background-color: #dc3545;
}
.status-5 {
  background-color: #dc3545;
}
.status-6 {
  background-color: #17a2b8;
}
.status-7 {
  background-color: #17a2b8;
}
