<header>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" style="text-shadow: 1px 1px #000;" role="listbox">
			<!-- Slide One - Set the background image for this slide in the line below -->
			<div class="carousel-item active" style="background-image: url('https://static.pexels.com/photos/297648/pexels-photo-297648.jpeg')">
				<div class="carousel-caption d-none d-md-block">
					<h3>Lokalny fotograf</h3>
					<p>Zaufaj laboratorium fotograficznemu działającemu w Twojej okolicy.</p>
				</div>
			</div>
			<!-- Slide Two - Set the background image for this slide in the line below -->
			<div class="carousel-item" style="background-image: url('https://static.pexels.com/photos/196655/pexels-photo-196655.jpeg')">
				<div class="carousel-caption d-none d-md-block">
					<h3>Ponad 20 lat doświadczenia</h3>
					<p>Doświadczenie i wiedza przy wydruku zdjęć to klucz do wspaniałej pamiątki na lata.</p>
				</div>
			</div>
			<!-- Slide Three - Set the background image for this slide in the line below -->
			<div class="carousel-item" style="background-image: url('https://static.pexels.com/photos/442573/pexels-photo-442573.jpeg')">
				<div class="carousel-caption d-none d-md-block">
					<h3>Najwyższa jakość zdjęć</h3>
					<p>Wszystkie odbitki drukujemy na najwyższej jakości papierze marki FujiFilm.</p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Poprzednie</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Następne</span>
		</a>
	</div>
</header>

<!-- Page Content -->
<div class="container  container-margins">



	<div class="row">
		<div class="col-12">
			<h3 class="section-header">Witaj na stronie!</h3>
			Nasze laboratorium znajduje się w Pajęcznie. Jesteśmy małym zakładem. Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Nulla ante turpis, faucibus quis lorem vel, pulvinar mattis diam. Donec lobortis turpis non posuere cursus.<br/>
			<br/>
			Etiam vel imperdiet ex. Integer eleifend feugiat rutrum. Donec vel sagittis massa. Suspendisse ante lorem, mollis eu fermentum
			id, molestie et lorem. Curabitur facilisis pharetra ex, quis ultrices nunc.
		</div>
	</div>

	<div class="row">
		<div class="col-5">
				<div class="jumbotron bg-jumbotron">
						<h1 class="display-5" style="font-size: 3.5rem">Zamów odbitki!</h1>
						<p class="lead">Nasze laboratorium umożliwia zlecenie wywołania dowolnej ilości odbitek zdjęć bez wychodzenia z domu, skorzystaj <br/>z naszej oferty.</p>
						<hr class="my-4">
						<p>Zamówienie zdjęć przez internet nic nie kosztuje, a Ty oszczędzasz swój czas!</p>
						<p class="lead">
								<a class="nav-link d-flex" style="justify-content: center" href="./order-photo-upload">
									<button class="btn btn-lg btn-danger" style="cursor: pointer">Zamów Zdjęcia</button>
								</a>
						</p>
					</div>
		</div>
		<div class="col-7"  style="margin-top: 2rem;">
				<h3 class="section-header">Zdjęcia przez internet</h3>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, faucibus quis lorem vel, pulvinar mattis diam. Donec lobortis turpis non posuere cursus.<br/>
				<br/>
				Etiam vel imperdiet ex. Integer eleifend feugiat rutrum. Donec vel sagittis massa. Suspendisse ante lorem, mollis eu fermentum
				id, molestie et lorem. Curabitur facilisis pharetra ex, quis ultrices nunc.
				<p style="text-align: right">Właściciel laboratorium<br/>Ryszard Dłubak</p>
		</div>
	</div>

	<hr>

	<!-- Call to Action Section -->
	<div class="row mb-4">
		<div class="col-md-8">
			<p>Gorąco zachęcamy do zapisania się do naszej listy mailgowej. Co tydzień zniżki, rabaty i promocje dla stałych klient.
				Nie zwklekaj - zapisz się już teraz i ciesz się wspaniałymi zdjęciami za najniższą cenę!</p>
		</div>
		<div class="col-md-4">
			<a class="btn btn-lg btn-success btn-block" href="#">Zapisz mnie do newslettera!</a>
		</div>
	</div>
</div>
<!-- /.container -->

<div class="gal">
	<img src="../../../../assets/images/photos-gallery/fotograf-01.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-24.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-02.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-03.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-04.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-06.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-08.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-32.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-30.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-10.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-11.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-12.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-34.jpg" alt="">
	<img src="../../../../assets/images/photos-gallery/fotograf-13.jpg" alt="">
</div>