
<header>
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner" style="text-shadow: 1px 1px #000;" role="listbox">
			<!-- Slide One - Set the background image for this slide in the line below -->
			<div class="carousel-item active" style="background-image: url('https://static.pexels.com/photos/297648/pexels-photo-297648.jpeg')">
			  <div class="carousel-caption d-none d-md-block">
				<h3>Lokalny fotograf</h3>
				<p>Zaufaj laboratorium fotograficznemu działającemu w Twojej okolicy.</p>
			  </div>
			</div>
			<!-- Slide Two - Set the background image for this slide in the line below -->
			<div class="carousel-item" style="background-image: url('https://static.pexels.com/photos/196655/pexels-photo-196655.jpeg')">
			  <div class="carousel-caption d-none d-md-block">
				<h3>Ponad 20 lat doświadczenia</h3>
				<p>Doświadczenie i wiedza przy wydruku zdjęć to klucz do wspaniałej pamiątki na lata.</p>
			  </div>
			</div>
			<!-- Slide Three - Set the background image for this slide in the line below -->
			<div class="carousel-item" style="background-image: url('https://static.pexels.com/photos/442573/pexels-photo-442573.jpeg')">
			  <div class="carousel-caption d-none d-md-block">
				<h3>Najwyższa jakość zdjęć</h3>
				<p>Wszystkie odbitki drukujemy na najwyższej jakości papierze marki FujiFilm.</p>
			  </div>
			</div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Poprzednie</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Następne</span>
		  </a>
		</div>
	  </header>

	  <!-- Page Content -->
<div class="container">



<div class="card">
	<div class="card-block">
		<h3>Testowa zmiana na stronie głównej aplikacji2!</h3>
		<p>From Labe Page</p>
	</div>
</div>

<hr>

  <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
      <p>Gorąco zachęcam do zapisania się do naszej listy mailgowej. Co tydzień zniżki, rabaty i promocje dla stałych klient.
        Nie zwklekaj - zapisz się już teraz i ciesz się wspaniałymi zdjęciami za najniższą cenę!</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="#">Zapisz mnie do newslettera!</a>
    </div>
  </div>

</div>
<!-- /.container -->