<header>
  <div class="background-photo">
    <div class="container height-100 d-flex align-items-center">

      <div class="title ">
        <h1>Podsumowanie zlecenia</h1>
      </div>

    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container container-margins">
    <div class="jumbotron bg-jumbotron" >
        <h1 class="display-3" style="font-size: 4rem">Dziękujemy za złożenie zamówienia!</h1>
        <p class="lead">Twoje zamówienie zostanie zrealizowane najszybciej jak to tylko możliwe. Teraz oczekujemy na Twoją płatność.</p>
        <hr class="my-4">
        <p>Prosimy wykonać przelew na poniżej przedstawione konto bankowe:<br />
          <br />
            Bank PKO S.A.<br/>
            04 1020 3958 0000 9602 0123 8724<br />
            Ryszard Dłubak<br />
            ul. Kościuszki 27, 98-330 Pajęczno<br />

        </p>
        <p class="lead">
          <a class="btn btn-danger" href="./home" role="button"><i class="fa fa-chevron-left" aria-hidden="true"></i> Wróć do strony głównej</a>
        </p>
      </div>
</div>