<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand brand" href="./home"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="about.html">Strona Główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services.html">O Nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Oferta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Pomoc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./order-photo-upload">Zamów Zdjęcia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item" *ngIf="isLoggedIn" (click)="logout()">Wyloguj Mnie</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLoggedIn()" (click)="showConfirm()">Zaloguj</a>
          <a class="nav-link" *ngIf="!isLoggedIn()" (click)="showRegisterModal()">Rejestracja</a>
          <a class="nav-link" *ngIf="isLoggedIn()" (click)="showConfirm()">Witaj</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Moje Konto
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">

            <a class="dropdown-item" href="./user-panel">Mój profil</a>
            <a class="dropdown-item" href="./user-panel">Moje Zamówienia</a>
            <a class="dropdown-item" href="./user-panel">Historia Zamówień</a>
            <a class="dropdown-item" *ngIf="isLoggedIn" (click)="logout()">Wyloguj Mnie</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="text-shadow: 1px 1px #000;" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://static.pexels.com/photos/297648/pexels-photo-297648.jpeg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Lokalny fotograf</h3>
          <p>Zaufaj laboratorium fotograficznemu działającemu w Twojej okolicy.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://static.pexels.com/photos/196655/pexels-photo-196655.jpeg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Ponad 20 lat doświadczenia</h3>
          <p>Doświadczenie i wiedza przy wydruku zdjęć to klucz do wspaniałej pamiątki na lata.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://static.pexels.com/photos/442573/pexels-photo-442573.jpeg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Najwyższa jakość zdjęć</h3>
          <p>Wszystkie odbitki drukujemy na najwyższej jakości papierze marki FujiFilm.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Poprzednie</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Następne</span>
    </a>
  </div>
</header>


<!-- Page Content -->
<div class="container">
  <router-outlet></router-outlet>
  <hr>

  <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
      <p>Gorąco zachęcam do zapisania się do naszej listy mailgowej. Co tydzień zniżki, rabaty i promocje dla stałych klient.
        Nie zwklekaj - zapisz się już teraz i ciesz się wspaniałymi zdjęciami za najniższą cenę!</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="#">Zapisz mnie do newslettera!</a>
    </div>
  </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; PhotoLab.pl 2017</p>
  </div>
  <!-- /.container -->
</footer>