<div class="container" style="width: 100%">
    
      
    
<h2 style="margin-top: 20px;">Podsumowanie Zlecenia</h2>
<hr/>
Liczba odbitek: {{ getTotalPrints() }} szt. <br />
Cena: {{ getTotalPrintsPrice() | number:'1.2-2' }} zł<br />
Status zlecenia: Realizacja wstrzymana - oczekiwanie na zapłatę<br />
<h3 style="margin-top: 20px">Sposób dostawy</h3>
<hr/>
Przesyłka
Odbiór osobisty
<div class="col-2">
    <label for="printsAmount">Sposób dostawy:</label>
    <select *ngIf="fileService.deliveryTypes" class="custom-select d-block" (change)="calculateTotalOrderPrice()" name="selectPaper" [(ngModel)]="fileService.order.deliveryTypeId">
        <option *ngFor="let deliveryType of fileService.deliveryTypes" [ngValue]="deliveryType.id">{{deliveryType.name}}</option>
        
    </select>
  </div>
<h3 style="margin-top: 20px">Dane do wysyłki</h3>
<hr/>
<div class="row">
    <div class="col-md-8">
      <form class="form-horizontal" *ngIf="client" role="form">
        <fieldset>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Imię</label>
            <div class="col-sm-10">
              <input type="text" name="clientFirstName" placeholder="Wpisz swoje imię" [(ngModel)]="client.firstName" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Nazwisko</label>
            <div class="col-sm-10">
              <input type="text" name="clientLastName" placeholder="Wpisz swoje nazwisko" [(ngModel)]="client.lastName" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Miasto</label>
            <div class="col-sm-10">
              <input type="text" name="clientDeliveryCity" placeholder="Miasto" [(ngModel)]="client.deliveryCity" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Ulica</label>
            <div class="col-sm-4">
              <input type="text" name="clientDeliveryAddress" placeholder="Ulica i numer domu / mieszkania" [(ngModel)]="client.deliveryAddress" class="form-control">
            </div>

            <label class="col-sm-2 control-label" for="textinput">Kod Pocztowy</label>
            <div class="col-sm-4">
              <input type="text" name="clientDeliveryPostCode" placeholder="Kod pocztowy" [(ngModel)]="client.deliveryPostCode" class="form-control">
            </div>
          </div>



          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Nr telefonu</label>
            <div class="col-sm-10">
              <input type="text" name="clientPhoneNumber" placeholder="+48 --- --- ---" [(ngModel)]="client.phoneNumber" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    </div><!-- /.col-lg-8 -->

    <div class="col-md-4">
      Hahah<br/>
      Hehe
    </div><!-- /.col-lg-4 -->
    
</div><!-- /.row -->



<h3 style="margin-top: 20px">Forma płatności</h3>

  <div class="btn-group" role="group" *ngIf="fileService.order">
      <button type="button" (click)="setTransferType(false)" [ngClass]="fileService.order.isTraditionalTransfer ? 'no-active' : 'active'"
       class="btn">Bezpieczny przelew przez PayU</button>
      <button type="button" (click)="setTransferType(true)" [ngClass]="fileService.order.isTraditionalTransfer ? 'active' : 'no-active'"
       class="btn">Tradycyjny przelew na konto</button>
    </div>

<h3>Dodatkowe uwagi do zlecenia</h3>
<hr/>

<p *ngIf="fileService.deliveryTypes && fileService.order">Łącznie do zapłaty: {{ getTotalOrderPrice() }} zł</p>
<button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#approvalModal" (click)="showOrder()">
    <span class="glyphicon glyphicon-upload"></span> Płacę
  </button>

  </div>