<div class="container" style="width: 100%">
    
      
    
<h2 style="margin-top: 20px;">Twoje zlecenie</h2>
<hr/>

<h3>Podsumowanie Zlecenia</h3>
<hr/>
Liczba odbitek: 50 szt. <br />
Cena: 25 zł<br />
Status zlecenia: Realizacja wstrzymana - oczekiwanie na zapłatę<br />
<h3 style="margin-top: 20px">Dane do wysyłki</h3>
<hr/>


<div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" role="form">
        <fieldset>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Imię</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Wpisz swoje imię" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Nazwisko</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Wpisz swoje nazwisko" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Miasto</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Miasto" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Ulica</label>
            <div class="col-sm-4">
              <input type="text" placeholder="Ulica i numer domu / mieszkania" class="form-control">
            </div>

            <label class="col-sm-2 control-label" for="textinput">Kod Pocztowy</label>
            <div class="col-sm-4">
              <input type="text" placeholder="Kod pocztowy" class="form-control">
            </div>
          </div>



          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Nr telefonu</label>
            <div class="col-sm-10">
              <input type="text" placeholder="+48 --- --- ---" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->



<h3 style="margin-top: 20px">Forma płatności</h3>
<div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      Bezpieczny przelew przez PayU
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      Tradycyjny przelew na konto
    </label>
  </div>


<h3>Dodatkowe uwagi do zlecenia</h3>
<hr/>

Łącznie do zapłaty: 25 zł

<button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#approvalModal">
    <span class="glyphicon glyphicon-upload"></span> Płacę
  </button>

  </div>