<aside class="sidebar">
    <div class="sidebar-container">
            <a href="" class="collapse-btn toggle-button" id="sidebar-collapse-btn">
                    <i class="fa fa-bars"></i>
                </a>
        <div class="sidebar-header">


                              

            <div class="brand">

            </div>
        </div>

        <nav class="menu"  style="font-family: 'Roboto', sans-serif;">
            <ul class="sidebar-menu metismenu" id="sidebar-menu"  style="font-size: 13px;">

                <li>
                    <a href="./admin/">
                        Pulpit Nawigacyjny
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                    </a>
                </li>


                <li>

                    <a href="">
                        Statystyki
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </a>

                </li>

                <li>
                    <a href="">
                        Zamówienia
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="./admin/users">
                        <i class="fa fa-table" aria-hidden="true"></i> Użytkownicy
                    </a>
                </li>





            </ul>
        </nav>

    </div>








    <footer class="sidebar-footer">
        <ul class="sidebar-menu metismenu" id="customize-menu">

            <li class="active">
                <a href="https://github.com/modularcode/modular-admin-html">
                    Nowe Zlecenia: 2
                    <i class="fa fa-flag" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="./admin/user">
                    Moje Konto
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="">
                    Preferencje<i class="fa fa-sliders" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#" (click)="logout()">
                   Wyloguj
                   <i class="fa fa-power-off" aria-hidden="true"></i></a>
            </li>
            <li class="footer">
                <p>© 2017 PhotoLab. All Right Reserved</p>
            </li>
        </ul>
    </footer>






















</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>