


            <div class="title-block">
					<h3 class="title" style="font-family: 'Comfortaa', cursive">
						Moje Dane
					</h3>
					<p class="title-description" style="font-family: 'Roboto', sans-serif;">
						W tej sekcji można dostosować wszystkie dane i parametry mojego konta!śćżźćłąśćńę
					</p>
				</div>
	
				<section class="section">
					<div class="row sameheight-container">
						<div class="col-xl-6">
	
	
	
	
	
	
	
	
	
							<div class="card sameheight-item">
								<div class="card-block">
									<!-- Nav tabs -->
									<div class="card-title-block">
										<h3 class="title" style="font-family: 'Comfortaa', cursive">
											Podstawowe Dane
										</h3>
									</div>
	
								</div>
								<!-- /.card-block -->
							</div>
							<!-- /.card -->
	
	
	
	
	
	
	
	
	
	
						</div>
						<!-- /.col-xl-6 -->
						<div class="col-xl-6">
	
							<div class="card sameheight-item">
								<div class="card-block">
									<!-- Nav tabs -->
									<div class="card-title-block">
										<h3 class="title" style="font-family: 'Comfortaa', cursive">
											Dane do faktury
										</h3>
	
										<h3 class="title" style="font-family: 'Comfortaa', cursive">
											Dane do wysyłki
										</h3>
									</div>
	
								</div>
								<!-- /.card-block -->
							</div>
							<!-- /.card -->
	
	
						</div>
						<!-- /.col-xl-6 -->
					</div>
				</section>