<!-- <div class="main-wrapper">
    <div class="app" id="app">

        <admin-header></admin-header>

        <admin-sidebar></admin-sidebar>
        <div class="mobile-menu-handle"></div>


        <!-- <article class="content {{pagename}}-page"> -->
        <!-- {{{body}}} -->
        <!-- </article> -->


        <!-- {{> app/_common/footer/footer}} -->

        <!-- {{> app/_common/modals/modals}} -->

        <!-- <a class="nav-link" (click)="logout()" href="#">Logoff</a>
    </div>
</div> --> 


<div class="page login-page">
        <h1>I'm a layout of Admin</h1>
        <router-outlet></router-outlet>
    </div>