<header>
  <div class="background-photo">
    <div class="container height-100 d-flex align-items-center">

      <div class="title ">
        <h1>O Nas</h1>
      </div>

    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container container-margins">
  <div class="row">
    <div class="col-4">
      <div class="owner-photo">
        <img src="../../../../assets/images/owner-1.jpg" width="100%" alt="" class="rounded">
      </div>
      <h3 class="owner-header">Ryszard Dłubak</h3>
      <p class="owner-description">
        &emsp;Od ponad 25 lat jestem związany z branżą fotograficzną. Pamiętam czasy ewolucji aparatów od Zenita B, aż do wszechobecnych
        lustrzanek cyfrowych! Od lat jestem właścicielem nowoczesnego MiniLabu, w którym każdego dnia wykonuję i wywołuję
        setki zdjęć. Pasja do fotografii towarzyszy mi od kiedy tylko sięgam pamięcią, aż po dziś dzień…
        <br/>
        <br/> &emsp;Ogromną radość czerpię z możliwości utrwalania wspomnień Par Młodych. Ślub i wesele są to wydarzenia niepowtarzalne,
        które należy zapamiętać i pozostawić takimi, jakimi były dokładnie w tym dniu. Fotografia to wspaniała maszyna czasu,
        która pozwala nam cofnąć się do tych pięknych dni – zarówno nam, jak i rodzinie, przyjaciołom, a nawet przyszłym
        pokoleniom.
      </p>
    </div>

    <div class="col-4">
      <h3 class="header">Fotograf Ryszard Dłubak</h3>
      <p class="owner-description">
        &emsp;Jesteśmy małą, rodzinną firmą. Nie pracujemy dla wielkich korporacji lecz dla ludzi – Was! Dzięki możliwości bezpośredniego
        kontaktu, każdą sesję możemy dopasować bezpośrednio do Waszych upodobań, oczekiwań i planów. Staramy się, aby nasze
        zdjęcia były wyraziste i ukazujące to, co warte zobaczenia i zapamiętania. Kochamy mocne, lecz naturalne kolory,
        dzięki którym zdjęcia pozostają realistyczne jednak przyciągają uwagę i cieszą oczy!
      </p>
    </div>

    <div class="col-4">
      <div class="owner-photo rounded">
        <img src="../../../../assets/images/owner-2.jpg" width="100%" alt="" class="rounded">
      </div>
      <h3 class="owner-header">Mieczysław Dłubak</h3>
      <p class="owner-description">
        &emsp;Młodsza krew fotograficznego duetu. Zarażony pasją Taty, od 6 roku wychowywany w duchu fotografii, w przyjaźni ze światłem,
        kadrem i ekspozycją!<br/>
        <br/>
        &emsp;Zawsze staram się do naszej fotorelacji wprowadzić nutkę szaleństwa, świeżości i niekonwencjonalnych
        kadrów. Nie lubię nudy i jednostajności. Każde zdjęcie ma być inne, ciekawe i jednocześnie opowiadać historię samo
        przez się.<br/>
        <br/>
        &emsp;Wśród nas dwóch, to ja odpowiadam za komunikację, zarówno tę internetową jak i bezpośrednio z Wami, dlatego
        we wszystkich kwestiach gorąco zachęcam do kontaktu właśnie ze mną! Uważam, że bez dobrej komunikacji, wcześniejszego
        spotkania i poznania się nie da się wykonać dobrego reportażu, takiego który oddałby charakter uroczystości, emocje
        głównych bohaterów i był wspaniałą pamiątką na lata!
      </p>
    </div>

  </div>
</div>