<header>
  <div class="background-photo">
    <div class="container height-100 d-flex align-items-center">

          <div class="title ">
            Kontakt
          </div>

    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">



  <div class="card">
    <div class="card-block">
      <h3>Welcome Contact!</h3>
      <p>From Labe Page</p>
    </div>
  </div>

  <hr>

  <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
      <p>Gorąco zachęcam do zapisania się do naszej listy mailgowej. Co tydzień zniżki, rabaty i promocje dla stałych klient.
        Nie zwklekaj - zapisz się już teraz i ciesz się wspaniałymi zdjęciami za najniższą cenę!</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="#">Zapisz mnie do newslettera!</a>
    </div>
  </div>

</div>
<!-- /.container -->